 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 
 
 .container{
max-width:80%;

padding: 34px;
margin:auto;

}
.container h1,p{
    text-align: center;
}
p{
    font-size: 17px;
}
input, textarea{
    border: 2px solid black;
    border-radius: 6px;
    display: block;
    font-size: 16px;
 width: 80%;
    margin: 11px;
    padding: 7px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    height:20px;
    width:89px;
    border-radius:6px;background-color:#8bff009e;
  }
  .bg{
      width: 100%;
      position: absolute;
      z-index: -1;
      opacity: 0.6;
  }